<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/hippodrome.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Имя файла для ротации -->
            <fileNamePattern>logs/hippodrome.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- Установка стратегии ротации -->
            <defaultRolloverStrategy class="ch.qos.logback.core.rolling.DefaultRolloverStrategy">
                <!-- Удаление файлов старше 7 дней -->
                <maxHistory>7</maxHistory>
                <delete>
                    <ifFileName endsWith=".log" />
                    <ifLastModified>7 days ago</ifLastModified>
                </delete>
            </defaultRolloverStrategy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36}: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="ROLLING" />
    </root>
</configuration>